$palette: (
  white: #fff,
  black: #121212,
  dark: #1e1e1e,
  light: #2e2e2e,
  gray: #777,
  blue: #0f60ff,
  bluehover: #6497ff,
  violet: #8743ff,
  red: #eb5757,
  blue-violet: linear-gradient(90deg,#0f60ff,#8743ff),
  blue-violethover: linear-gradient(90deg,#5d93ff,#bb95fe),
  bg-alert-error: #f8d7da,
  bg-alert-warning: #fff3cd,
  bg-alert-success: #d4edda,
  text-alert-error: #721c24,
  text-alert-warning: #856404,
  text-alert-success: #155724,
  yellow-form-warning: #f2c94c,
);
