// Ant Styles
@import 'antd/dist/antd.css';

// Custom Styles
@import './globals.scss';
@import './components/custom-header.scss';
@import './components/network-manager.scss';
@import './components/survey.scss';

.ant-layout {
  height: 100vh;
}

.spin-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}